@font-face {
	font-family: Lobster;
	src: url("fonts/Lobster.ttf");
}

html, body {
	height: 100%;
	margin: auto;
}
body {
	background-color: rgb(238, 238, 238);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#login {
	margin: auto;
	border: 2px solid black;
	border-radius: 5px;
	height: 800px;
	width: 40%;
	min-width: fit-content;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
	position: relative;
}

#logo {
	font-size: 6em;
	font-family: "Lobster", serif;
	text-align: center;
	margin-top: 0px;
	padding: 0;
	line-height: 2em;
	flex: 1;
}

#login h1 {
	margin-bottom: 0px;
}

#login form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	flex: 2;
}

#login form input {
	background-color: rgb(238, 238, 238);
	border-radius: 5px;
	opacity: 50%;
	height: 80px;
	width: 80%;
	text-align: center;
	font-size: 1.5em;
}

#login form input[type="submit"] {
	font-size: 2em;
	background-color: lightgreen;
}

#login nav {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#login nav a {
	font-size: 3em;
	text-align: center;
	color: black;
}

#login form input[value="Register"] {
	background-color: orange;
}

#login form input[value="Register"]:hover {
	background-color: coral;
}

#login form input[value="Connect"]:hover {
	background-color: green;
}

.error {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
}

.error p {
	font-size: 2em;
	color:indianred;
	text-align: center;
}

table {
	border-collapse: collapse;
}

td {
	border: 2px solid black;
}